# My first beachhead IPython Notebook

In [1]:
"Hello World"

'Hello World'

In [3]:
%matplotlib inline

In [6]:
from pylab import *
from pandas import DataFrame

In [7]:
names = ['Brett', 'Jare','Igor', 'Sonya']
zips = ['07728','47909','10013','11355']

In [48]:
names

['Brett', 'Jare', 'Igor', 'Sonya']

In [49]:
zips

['07728', '47909', '10013', '11355']

In [50]:
ZipData = zip( names , zips )

In [51]:
ZipDataSet = set(ZipData)

In [52]:
print (ZipDataSet)

{('Jare', '47909'), ('Sonya', '11355'), ('Brett', '07728'), ('Igor', '10013')}

In [53]:
df = DataFrame(data = tuple(ZipDataSet), columns=['names','zips'])

In [54]:
df

   names   zips
0   Jare  47909
1  Sonya  11355
2  Brett  07728
3   Igor  10013